<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h6>Depot Capacity</h6>
        <div class="tx-primary">
            <small class="tx-bold mr-2">Total Capacity:</small> 1000
        </div>
    </div>
    <div class="card-body chart-container">
        <canvas class="chart" #chart style="width: 100%; height: 300px;"></canvas>
        <div class="chart-status tx-center">
            <h2 class="tx-primary tx-bolder mb-0">46%</h2>
            <h6 class="tx-primary">Free Capacity</h6>
        </div>
    </div>
    <div class="card-footer bd-t-0 tx-right mb-2">
        <a href="">View Full Report</a>
    </div>
</div>