<div class="card mg-b-10">
    <div class="card-header d-flex justify-content-between">
        <h6>Video Capture</h6>
        <div>
            <button class="btn btn-sm btn-danger" *ngIf="hasStarted" (click)="stop()">Stop</button>
            <button class="btn btn-sm btn-primary" *ngIf="!hasStarted" routerLink="./video-setup">Setup Video</button>
        </div>
    </div>
    <div class="card-body tx-center d-flex flex-column justify-content-center pd-20" style="height: 450px;">
        <img [src]="frameUrl" class="img-fluid" *ngIf="hasStarted && frameUrl !== null">
        <div class="tx-gray-500" *ngIf="!hasStarted">
            <h6 class="tx-gray-500">Video is not defined</h6>
            Please setup the video before!
        </div>
    </div>
</div>