<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Dashboard</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg mb-2">
        <div class="card card-body widget">
            <h6 class="tx-gray-500">Busiest Post</h6>
            <h3 class="tx-bolder">Main Gate</h3>
            <small class="tx-bold tx-danger">
                <i data-feather="arrow-up"></i> 10% busier than other post
            </small>
        </div>
    </div>
    <div class="col-lg mb-2">
        <div class="card" *ngIf="containerInOutObs | async as containerInOut; else loading">
            <div class="card-body widget">
                <h6 class="tx-gray-500">Container In / Out Today</h6>
                <h3 class="tx-bolder">{{ containerInOut.in }} / {{ containerInOut.out }}</h3>
                <small class="tx-bold d-flex justify-content-center">
                    <span class="tx-success mr-2" *ngIf="containerInOut.increasein !== '-'">
                        <i data-feather="arrow-up"></i> {{ containerInOut.increasein }}% from yesterday
                    </span>
                    <span class="tx-danger ml-2" *ngIf="containerInOut.increaseout !== '-'">
                        <i data-feather="arrow-down"></i> {{ containerInOut.increaseout }}% from yesterday
                    </span>
                </small>
            </div>
            <ng-template #loading>
                <div class="card-body">
                    Loading...
                </div>
            </ng-template>
        </div>
    </div>
    <div class="col-lg mb-2">
        <div class="card card-body widget">
            <h6 class="tx-gray-500">Depot Free Capacity</h6>
            <h3 class="tx-bolder">48% (4800 Container)</h3>
            <small class="tx-bold tx-success">
                <i data-feather="arrow-up"></i> 10% capacity increases
            </small>
        </div>
    </div>
</div>
<app-graph></app-graph>
<div class="row">
    <div class="col-lg">
        <div class="card mb-2">
            <h6 class="card-header">Container Data</h6>
            <div class="card-body pd-y-15 pd-x-10">
                <div class="table-responsive">
                    <table class="table table-borderless table-sm tx-13 tx-nowrap mg-b-0">
                        <thead>
                            <tr class="tx-10 tx-spacing-1 tx-color-03 tx-uppercase">
                                <th class="tx-center">Company</th>
                                <th class="tx-center">Container Amount</th>
                                <th class="tx-center">Trend</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tx-center">SMDU</td>
                                <td class="tx-center">100</td>
                                <td class="tx-center">Increase</td>
                            </tr>
                            <tr>
                                <td class="tx-center">GOCU</td>
                                <td class="tx-center">81</td>
                                <td class="tx-center">Decrease</td>
                            </tr>
                            <tr>
                                <td class="tx-center">MCDU</td>
                                <td class="tx-center">88</td>
                                <td class="tx-center">Increase</td>
                            </tr>
                            <tr>
                                <td class="tx-center">AGPU</td>
                                <td class="tx-center">11</td>
                                <td class="tx-center">Increase</td>
                            </tr>
                            <tr>
                                <td class="tx-center">CCOU</td>
                                <td class="tx-center">27</td>
                                <td class="tx-center">Decrease</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer bd-t-0 tx-right mg-lg-x-50 mb-2">
                <a href="">Show More</a>
            </div>
        </div>
    </div>
    <div class="col-lg">
        <app-pie></app-pie>
    </div>
</div>