<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">BIC Code Detection</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">BIC Code Detection</li>
        </ol>
    </nav>
</div>
<app-image-upload (refresh)="refresh()"></app-image-upload>
<div class="card">
    <h6 class="card-header">List Data</h6>
    <div class="card-body">
        <!-- if is has been fix, uncomment it -->
        <!-- <h6 class="tx-gray-500">Filter Date</h6>
        <form class="form-inline mb-4" [formGroup]="formFilter">
            <div class="form-group mg-r-20">
                <label class="mg-r-10">From:</label>
                <input type="date" class="form-control" formControlName="date1">
            </div>
            <div class="form-group mg-r-20">
                <label class="mg-r-10">To:</label>
                <input type="date" class="form-control" formControlName="date2">
            </div>
            <button class="btn btn-primary" [disabled]="!formFilter.valid" (click)="refresh()">Search</button>
        </form> -->
        <div class="table-responsive pd-r-20">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Date</th>
                        <th>Code</th>
                    </tr>
                </thead>
                <tbody *ngIf="containers?.length !== 0">
                    <tr *ngFor="let container of containers" (click)="showImage(container, $event)">
                        <td><img class="ht-150" [src]="containerService.imageUrl(container.id)"></td>
                        <td>{{ container.date | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</td>
                        <td>{{ container.code }}</td>
                    </tr>
                <tbody>
                <tbody *ngIf="containers?.length === 0">
                    <tr>
                        <td colspan="3" class="tx-center">No data!</td>
                    </tr>
                <tbody>
            </table>
        </div>
    </div>
</div>