<div class="d-md-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">BIC Code Detection</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">BIC Code Detection</li>
        </ol>
    </nav>
</div>
<app-image-upload (refresh)="refresh()"></app-image-upload>
<app-list-containers (fetchRefreshFn)="fetchRefreshFn($event)"></app-list-containers>